.project-favorite{
  cursor: pointer;
  .svg-icon {
    line-height: 1;
    [fill]:not([fill="none"]):not([fill="white"])  {
      fill:  $gray-second-color;
    }
    [stroke]:not([stroke="none"]):not([stroke="white"])  {
      stroke:  $gray-second-color;

    }
  }
  &:hover{
    .svg-icon {
      line-height: 1;
      [fill]:not([fill="none"]):not([fill="white"])  {
        fill:  $primary-color;
      }
      [stroke]:not([stroke="none"]):not([stroke="white"])  {
        stroke:  $primary-color;

      }
    }
  }

}
